
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<b>Buscar</b>
			<input id="searchBox" type="text" ng-model="busca" 
				data-provide="typehead"
			 />
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="letraChica table table-bordered table-striped">
				<thead>
					<tr>
					<th>No. Servicio</th>
					<th>Estatus</th>
						<th>Nombre Cliente</th>
						<th>Placas</th>
						<th>Recepci&oacute;n</th>
						<th>Servicio</th>
						<th>Cobranza</th>
						<th>D&iacute;as en taller</th>
						<th>Saldo
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ser in listaServicios">
						<td ng-click="addAbierto(ser)"><a
							href="{{'#/servicio/view/'+ser.id}}">{{ser.id}}</a></td>
						<td>{{ser.status}}</td>
						<td>{{ser.nombreCliente}}</td>
						<td>{{ser.placas}}</td>
						<td>{{ser.fechaInicio}}</td>
						<td>{{ser.descripcion}}</td>
						<td>{{ser.cobranza}}</td>
						<td>{{ser.dias}}</td>
						<td>{{ser.saldo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>