
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<input type="text" id="searchField" class="form-control app-search-input" ng-model="busca" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="{{encontrados}}">
</div>
</div>
<div class="row">
		<div class="col-md-12">
		<table class="letraChica table table-bordered table-striped">
			<thead>
				<tr>
				<th>Status</th>
				<th>Nombre Cliente</th>
				<th>Placas</th>
				<th>Recepci&oacute;n</th>
				<th>Servicio</th>
				<th>Cobranza</th>
				<th>D&iacute;as de adeudo</th>
				<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ser in listaServicios">
					<td ng-click="addAbierto(ser)"><a href="{{'#/servicio/view/'+ser.id}}">{{ser.status}}</a></td>
					<td>{{ser.nombreCliente}}</td>
					<td>{{ser.placas}}</td>
					<td>{{ser.fechaInicio}}</td>
					<td>{{ser.descripcion}}</td>
					<td>{{ser.cobranza}}</td>
					<td>{{ser.dias}}</td>
					<td>{{ser.saldo}}</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>

</div>