<div class="container-fluid">
	<ol class="breadcrumb">
		<button class="btn btn-large btn-primary" ng-click="guardar()">
			<i class="fa fa-floppy-o"></i>
		</button>
		<button class="btn btn-large btn-primary" data-toggle="modal"
			data-target="#eventoModal" ng-click="imprimir()">
			<i class="fa fa-print"></i>
		</button>
	</ol>


	<!-- 	{{eventos}}	-->
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"
			ng-click="showTab('cliente')">Cliente</a></li>
		<li><a data-toggle="tab" ng-click="showTab('auto')">Auto</a></li>
		<li><a data-toggle="tab" ng-click="showTab('bitacora')">Bit&aacute;cora</a></li>
		<li><a data-toggle="tab" ng-click="showTab('presupuesto')">Presupuesto</a></li>
		<li><a data-toggle="tab" ng-click="showTab('cobranza')">Cobranza</a></li>
	</ul>

	<div class="tab-content">
		<div id="cliente" class="tab-pane fade in active">

			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3">Cliente</label>
				</div>
				<div class="form-group">
					<label for="nombreCliente" class="control-label col-sm-3">Nombre
						o raz&oacute;n social</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.nombre" ng-change="findCliente()" />
					</div>
				</div>
				<div class="form-group">
					<label for="rfc" class="control-label col-sm-3">RFC</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.rfc"
							ng-change="servicio.cliente.rfc=mayusculas(servicio.cliente.rfc)" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Domicilio Fiscal</label>
				</div>
				<div class="form-group">
					<label for="nombreCliente" class="control-label col-sm-3">Calle</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.domicilio.calle" />
					</div>
				</div>
				<div class="form-group">
					<label for="rfc" class="control-label col-sm-3">Num.
						Interior</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.domicilio.numInterior" />
					</div>
				</div>
				<div class="form-group">
					<label for="nombreCliente" class="control-label col-sm-3">C&oacute;digo
						Postal</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.domicilio.codigoPostal" />
					</div>
				</div>
				<div class="form-group">
					<label for="rfc" class="control-label col-sm-3">Colonia</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.domicilio.colonia" />
					</div>
				</div>

				<div class="form-group">
					<label for="rfc" class="control-label col-sm-3">Ciudad</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.domicilio.ciudad" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Datos de contacto</label>
				</div>
				<div class="form-group">
					<label for="nombreCliente" class="control-label col-sm-3">Contacto</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.contacto" />
					</div>
				</div>
				<div class="form-group">
					<label for="rfc" class="control-label col-sm-3">E-mail</label>
					<div class="col-sm-6">
						<input class="form-control" type="text"
							ng-model="servicio.cliente.email" />
					</div>
				</div>
				<div class="form-group">
					<label for="nombreCliente" class="control-label col-sm-3">Tel&eacute;fono</label>
					<div class="col-sm-6">
						<div class="col-sm-6">
							<select class="form-control"
								ng-model="servicio.cliente.telefonoContacto[0].label">
								<option>Casa</option>
								<option>Oficina</option>
								<option>Movil</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text"
								ng-model="servicio.cliente.telefonoContacto[0].valor" />
						</div>
						<div class="col-sm-6">
							<select class="form-control"
								ng-model="servicio.cliente.telefonoContacto[1].label">
								<option>Casa</option>
								<option>Oficina</option>
								<option>Movil</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text"
								ng-model="servicio.cliente.telefonoContacto[1].valor" />
						</div>
						<div class="col-sm-6">
							<select class="form-control"
								ng-model="servicio.cliente.telefonoContacto[2].label">
								<option>Casa</option>
								<option>Oficina</option>
								<option>Movil</option>
							</select>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text"
								ng-model="servicio.cliente.telefonoContacto[2].valor" />
						</div>
					</div>
				</div>

			</form>

		</div>
		<div id="auto" class="tab-pane fade">
			<div class="clearfix">
				<h4>Datos del auto</h4>
			</div>
			<form class="form-horizontal">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nombreCliente" class="control-label col-sm-3">N&uacute;mero
								de Serie</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.numeroSerie"
									ng-change="servicio.auto.numeroSerie=mayusculas(servicio.auto.numeroSerie)" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Marca</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.marca" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Tipo</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.tipo" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Versi&oacute;n</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.version" />
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Modelo</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.modelo" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Color</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.color" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Placas</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.auto.placas" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Kilometraje</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									ng-model="servicio.servicio.datosAuto.kilometraje" />
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Numero
								Econ&oacute;mico</label>
							<div class="col-sm-6">
								<input class="form-control" type="text" min="0" max="100"
									ng-model="servicio.auto.numeroEconomico"
									ng-change="servicio.auto.numeroEconomico=mayusculas(servicio.auto.numeroEconomico)" />
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-sm-3">Combustible(%)</label>
							<div class="col-sm-6">
								<input id="ex6" type="text" data-slider-min="0"
									data-slider-max="100" data-slider-step="5"
									data-slider-value="0"/> <span id="ex6CurrentSliderValLabel"><span
									id="ex6SliderVal">0</span></span>
								<!-- 								<input class="form-control" type="number" min="0" max="100" -->
								<!-- 									ng-model="servicio.servicio.datosAuto.combustible" /> -->
							</div>
						</div>

					</div>
				</div>
				<div class="clearfix">
					<h4>Equipamiento</h4>
				</div>
				<br> <br>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Transmisi&oacute;n</label>
							<div class="radio">
								<label><input type="radio" name="optradio"
									ng-model="servicio.auto.equipamiento.transmision"
									value="Manual">Manual</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="optradio"
									ng-model="servicio.auto.equipamiento.transmision"
									value="Automatica">Autom&aacute;tica</label>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Elevadores</label>
							<div class="radio">
								<label><input type="radio" name="optradio2"
									ng-model="servicio.auto.equipamiento.elevadores"
									value="Manuales">Manuales</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="optradio2"
									ng-model="servicio.auto.equipamiento.elevadores"
									value="Electricos">El&eacute;ctricos</label>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Bolsas de Aire</label>
							<div>
								<input class="form-control" type="text"
									ng-model="servicio.auto.equipamiento.bolsasDeAire" />
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox"
									ng-model="servicio.auto.equipamiento.aireAcondicionado">Aire
									Acondicionado</label>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<h4>Equipamiento</h4>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label for="comment">Descripci&oacute;n del Servicio:</label>
						<textarea class="form-control" rows="4"
							ng-model="servicio.servicio.descripcion"></textarea>
					</div>
				</div>
				<div clas="row">
					Caracter&iacute;sticas del Auto
					<div class="form-group">
						<div>
							<input class="form-control" type="text"
								ng-model="caracteristicaAuto" />
						</div>
						<button class="btn btn-small btn-primary" ng-click="addCaract()">Agregar</button>
					</div>
					<br>
					<table class="table table-striped">
						<tbody>
							<tr
								ng-repeat="carac in servicio.auto.equipamiento.equipoAdicional">
								<td>{{carac}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</form>
		</div>
		<div id="bitacora" class="tab-pane fade">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-bar-chart-o fa-fw"></i> Bitacora
								<button class="btn btn-small btn-primary" data-toggle="modal"
									data-target="#eventoModal" ng-click="nuevoEvento()">
									<i class="fa fa-plus"></i>
								</button>

							</h3>
						</div>
						<div class="panel-body">
							<div id="morris-area-chart">
								<div class="row" ng-repeat="ev in eventos">
									<form class="form-inline">
										<div class="row">
											<div class="col-md-6">
												<b>{{ev.tipo}}</b>
											</div>
											<div style="float: right !important">
												<button class="btn btn-small btn-link" data-toggle="modal"
													data-target="#eventoModal"
													ng-click="verEvidencias(ev); pausar();">Evidencias</button>
												<button class="btn btn-small btn-link"
													ng-click="borrarEvento(ev)">Borrar</button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label for="fecha">Fecha</label> <input type="text"
														class="form-control" id="fecha" ng-model="ev.fecha">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="resp">Responsable</label> <input type="text"
														class="form-control" id="resp" ng-model="ev.responsable">
												</div>
											</div>
											<div class="col-md-3">
												Creado: <label>{{ev.fechaCreacion}}</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<textarea class="form-control" style="width: inherit;"
													id="descripcion" rows="3" ng-model="ev.descripcion"></textarea>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12"></div>
				<hr>
			</div>
		</div>
		<div id="presupuesto" class="tab-pane fade">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><button class="btn-link" data-toggle="modal"
								data-target="#eventoModal" ng-click="verModal('showModalGrupo')">
								Agregar grupo</button></li>
					</ol>
				</div>
				<div class="col-md-12" ng-repeat="gru in servicio.gruposCosto">

					<div class="row">
						<div class="col-md-12">
							<b>{{gru.nombre}}</b>
							<ul class="list-inline">
								<li><button class="btn-link"
										ng-click="addPresupuesto(gru,'')">Agregar Concepto</button></li>
							</ul>
						</div>
						<!-- 						<div class="col-md-6"> -->
						<!-- 							<button class="btn btn-small btn-primary" -->
						<!-- 								ng-click="addPresupuesto(gru)"> -->
						<!-- 								<i class="fa fa-plus"></i></button> -->
						<!-- 						</div> -->
					</div>
					<div class="table-responsive">
						<table
							class="letraChica table table-bordered table-striped table-presupuesto">
							<thead>
								<tr>
									<th>Tipo</th>
									<th style="width: 20%;">Concepto</th>
									<th style="width: 3%">Cantidad</th>
									<th>Precio Unitario</th>
									<th style="width: 1%">IVA</th>
									<th>Precio Cliente</th>
									<th style="width: 7%">Utilidad</th>
									<th>Subtotal</th>
									<th>IVA</th>
									<th>Autorizado <input style="width: auto;" type="checkbox"
										ng-model="gru.autoTodos" value="false"
										ng-click="seleccionarTodoAutorizado(gru)" /></th>
									<th style="width: 1%"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pres in gru.presupuestos">
									<td><select ng-model="pres.subtipo"
										ng-change="conceptoChg(pres,$index,gru)">
											<option value="MO">Mano de Obra</option>
											<option value="RE">Refacciones</option>
											<option value="IN">Insumo</option>
											<option value="SE">Servicio</option>
									</select></td>
									<td><input type="text" style="width: 100%"
										ng-model="pres.concepto"
										ng-change="conceptoChg(pres,$index,gru)" /></td>
									<td><input type="text" ng-model="pres.cantidad" min="0" /></td>
									<td>$<input type="text" step="0.01"
										ng-model="pres.precioUnitario.value" /></td>
									<td><input type="checkbox"
										ng-model="pres.precioUnitarioConIVA"
										ng-click="pres.precioUnitario.value=calcularPUI(pres)" /></td>
									<td><label disabled ng-show="pres.precioUnitarioConIVA">{{'$'+currency(pres.precioUnitario.value*0.16,2,
											[',', "'", '.'])}}</label></td>
									<td><input type="text" step="0.01"
										ng-model="pres.precioCliente.value" /></td>
									<td><label>{{'$'+utilidad1(pres)}} / {{
											utilidad(pres)+'%'}}</label></td>
									<td><label>{{'$'+currency(pres.precioCliente.value*pres.cantidad,2,
											[',', "'", '.'])}}</label></td>
									<td><label ng-show="servicio.servicio.cobranza.facturado">{{'$'+currency(pres.precioCliente.value*pres.cantidad*0.16,2,
											[',', "'", '.'])}}</label></td>
									<td><input type="checkbox" ng-model="pres.autorizado" /></td>
									<td><button class="btn btn-small"
											ng-click="borraPresupuesto(gru,$index)">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button> <!-- 								<td><input type="select" ng-model="pres.tipo"/></td> -->
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<!-- 		ng-show="contarCotizables()>0"	{{listcotizaciones.costos}} -->
				<div class="col-md-12">
					<div class="table-responsive">
						<button class="btn btn-small btn-primary" ng-click="addCot()">
							<i class="fa fa-plus"></i>
						</button>
						<table class="letraChica table table-striped table-bordered">
							<thead>
								<tr>
									<th></th>
									<th ng-repeat="prove in listcotizaciones.proveedores"><input
										id="proveedor{{$index}}" type="text" ng-model="prove" />
										<button class="btn btn-danger"
											ng-click="borrarProveedor($index)">
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</button></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cot in listcotizaciones.costos">
									<td>{{cot.concepto}}</td>
									<td ng-repeat="costo in cot.costos"><input type="text"
										ng-model="costo.precio"> <input type="checkbox"
										name="{{cot.concepto}}" ng-model="costo.selected"
										ng-click="setPrecio(costo.precio,cot.concepto,costo)"></td>
									<!-- 									<td><input type="text" ng-model="cot.tiempo"></td> -->
								</tr>
								<!-- 								<tr> -->
								<!-- 									<td><input type="text" ng-model="newCot.precio"></td> -->
								<!-- 									<td><input type="text" ng-model="newCot.tiempo"></td> -->
								<!-- 									<td><input type="radio" name="optradio" -->
								<!-- 										ng-model="newCot.selected" ng-click="setPrecio(newCot.precio)"></td> -->
								<!-- 								</tr> -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="cobranza" class="tab-pane fade">
			<!-- 			{{servicio.servicio}} -->
			<div class="row">
				<button class="btn btn-small btn-primary" ng-click="appendPago()"
					data-toggle="modal" data-target="#eventoModal">
					<i class="fa fa-plus"></i>
				</button>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="checkbox">
						<label><input type="checkbox"
							ng-model="servicio.servicio.cobranza.facturado"
							ng-click="facturado()">Facturado</label>
					</div>
					<div class="form-group">
						<label class="control-label" for="pwd">N&uacute;mero
							Factura</label>
						<div>
							<input type="text"
								ng-model="servicio.servicio.cobranza.numeroFactura"
								ng-enabled="servicio.servicio.cobranza.facturado">
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<table class="table">
						<tbody>
							<tr ng-show="servicio.servicio.cobranza.facturado">
								<td>Subtotal</td>
								<td>{{'$'+currency(servicio.servicio.metadata.costoTotal.value/1.16,2,[])}}</td>
							</tr>
							<tr ng-show="servicio.servicio.cobranza.facturado">
								<td>IVA</td>
								<td>{{'$'+currency((servicio.servicio.metadata.costoTotal.value/1.16)*0.16,2,[])}}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>{{'$'+currency(servicio.servicio.metadata.costoTotal.value,2,[])}}</td>
							</tr>
							<tr>
								<td>A cuenta</td>
								<td>{{'$'+currency(aCuenta,2,[])}}</td>
							</tr>
							<tr>
								<td>Adeudo</td>
								<td>{{'$'+adeudo}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="row"
					ng-repeat="pago in servicio.servicio.cobranza.pagos">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Fecha: </label>
							<div class="col-sm-10">
								<label>{{getFecha(pago.fecha)}}</label>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="pwd">Responsable:</label>
							<div class="">
								<input type="text" ng-model="pago.responsable" />
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="pwd">Monto:</label>
							<div class="">
								<input type="text" ng-model="pago.monto.value" />
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<label ng-show="pago.uuid">Factura:</label>
						<div class="btn-group btn-group-justified" ng-show="pago.uuid">
							<a href="/facturar/obtenerPDF/{{pago.uuid}}"
								class="btn btn-sm btn-danger" download="{{pago.uuid+'.pdf'}}">PDF</a>
							<a href="/facturar/obtenerXML/{{pago.uuid}}"
								class="btn btn-sm btn-primary" download="{{pago.uuid+'.xml'}}">XML</a>
						</div>
					</div>
					<div class="col-md-12">
						<textarea
							class="form-control ng-pristine ng-valid ng-empty ng-touched"
							style="font-size: 9px" rows="3" ng-model="pago.detalle"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="eventoModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" ng-show="modals[1].show">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Percepci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					Tipo de Evento
					<div class="col-md-12">
						<select ng-model="evento.tipo" class="form-control">
							<option>Entrada de Auto</option>
							<option>Diagn&oacute;stico</option>
							<option>Observaciones</option>
							<option>Reclamaciones</option>
							<option>Otro</option>
							<option>Salida de Auto</option>
							<option>Cancelaci&oacute;n</option>
							<option>Termino de servicio</option>
						</select>
					</div>
					<br>Fecha del evento
					<div class="col-md-12">
						<input class="form-control" type="datetime-local"
							ng-model="evento.fecha">
					</div>

					<br> Responsable
					<div class="col-md-12">
						<input class="form-control" type="text"
							ng-model="evento.responsable">
					</div>
					<br> Descripci&oacute;n:
					<div class="col-md-12">
						<textarea rows="3" ng-model="evento.descripcion"
							class="form-control"></textarea>
					</div>
					<br> Archivos:
					<div class="col-md-12">
						<input id="b_pics" accept="image/*" type="file" class="file"
							multiple="true" multiple-File-Model="b_pics" required />
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="addEvento()">Agregar</button>
			</div>
		</div>
	</div>
	<div class="modal-dialog" role="document" ng-show="modals[0].show">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Nuevo Grupo</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						Nombre <input type="text" ng-model="nombreGrupo" />
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="addGrupo()">Agregar</button>
			</div>
		</div>
	</div>
	<div class="modal-dialog" role="document" ng-show="modals[2].show">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Evidencias</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-sm-6 col-md-3" ng-repeat="evi in evidenciasVer">
								<a id="{{evi.image}}" class="thumbnail"
									ng-class="{'selected' : evi.appended}"> <img
									src="{{'http://tikal.mx/tallerWeb/images/'+evi.image+'.jpg'}}"
									ng-click="selectImage(evi)">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input id="b_pics" accept="image/*" type="file" class="file"
							multiple="true" multiple-File-Model="b_pics" required />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="appendImages()">Agregar</button>
			</div>
		</div>
	</div>
	<div class="modal-dialog" role="document" ng-show="modals[3].show">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Reportes</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<!-- 
							<div class="col-md-6">
								<a class="btn btn-primary" target="_blank"
									href="{{'/reporte/presupuestoPDF/'+servicio.servicio.idServicio}}">
									<i class="fa fa-print"></i>Presupuesto
								</a>
							</div>
							<div class="col-md-6">
								<a class="btn btn-primary" target="_blank"
									href="{{'/reporte/presupuestoPDFSin/'+servicio.servicio.idServicio}}">
									<i class="fa fa-print"></i>Evaluaci&oacute;n
								</a>
							</div>
							-->
							<div class="row">
								<div class="col-md-4">
									<a
										href="/reporte/presupuestoPDFSoloDatos/{{servicio.servicio.idServicio}}"
										class="btn btn-primary" target="_blank"> <i
										class="fa fa-print"></i>Revisi&oacute;n de veh&iacute;culo
									</a>
								</div>
								<!-- 								<form method="POST" -->
								<!-- 									action="/reporte/presupuestoPDFSoloDatos.pdf"> -->
								<!-- 									<div class="col-md-4"> -->
								<!-- 										<button class="btn btn-primary" target="_blank" type="submit"> -->
								<!-- 											<i class="fa fa-print"></i>Revisi&oacute;n de veh&iacute;culo -->
								<!-- 										</button> -->
								<!-- 										<input type="hidden" name="id" -->
								<!-- 											value="{{servicio.servicio.idServicio}}"> -->
								<!-- 									</div> -->
								<!-- 								</form> -->
								<div class="col-md-4">
									<a
										href="/reporte/presupuestoPDF/{{servicio.servicio.idServicio}}"
										class="btn btn-primary" target="_blank" type="submit"> <i
										class="fa fa-print"></i>Presupuesto
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<a
										href="/reporte/presupuestoPDFSin/{{servicio.servicio.idServicio}}"
										class="btn btn-primary" target="_blank" type="submit"> <i
										class="fa fa-print"></i>Cotizaci&oacute;n
									</a>
								</div>
								<div class="col-md-4">
									<a
										href="/reporte/presupuestoPDFInterno/{{servicio.servicio.idServicio}}"
										class="btn btn-primary" target="_blank" type="submit"> <i
										class="fa fa-print"></i>Interno
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<!-- 					<button type="button" class="btn btn-primary" data-dismiss="modal" -->
				<!-- 						ng-click="appendPago()">Agregar</button> -->
			</div>
		</div>
	</div>
	<div class="modal-dialog modal-lg" role="document"
		ng-show="modals[4].show">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Nuevo Pago</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="form-group">
								<label class="control-label" for="pwd">Responsable:</label>
								<div class="">
									<input type="text" ng-model="newPago.responsable" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="pwd">Comentarios:</label>
								<textarea
									class="form-control ng-pristine ng-valid ng-empty ng-touched"
									style="font-size: 9px" rows="3" ng-model="newPago.detalle"></textarea>
							</div>
							<div class="form-group" ng-hide="facturarPago">
								<label class="control-label" for="pwd">Monto:</label>
								<div class="">
									<input type="text" ng-model="newPago.monto.value" />
								</div>
							</div>
							<div class="form-group">

								<div class="">
									<input type="checkbox" ng-model="facturarPago" />Facturar
								</div>
							</div>
						</div>
						<div class="col-md-12" ng-repeat="gru in servicio.gruposCosto"
							ng-show="facturarPago">
							<div class="row">
								<div class="col-md-12">
									<b>{{gru.nombre}}</b>
								</div>
								<!-- 						<div class="col-md-6"> -->
								<!-- 							<button class="btn btn-small btn-primary" -->
								<!-- 								ng-click="addPresupuesto(gru)"> -->
								<!-- 								<i class="fa fa-plus"></i></button> -->
								<!-- 						</div> -->
							</div>
							<div class="table-responsive" ng-show="facturarPago">
								<table id="tableConceptosF"
									class="letraChica table table-bordered table-striped table-presupuesto">
									<thead>
										<tr>
											<!-- 											<th>Tipo</th> -->
											<th>Concepto</th>
											<th style="width: 6%">Cantidad</th>
											<!-- 											<th>Precio Unitario</th> -->
											<!-- 											<th style="width: 6%">IVA</th> -->
											<!-- 											<th style="width: 8%">IVA</th> -->
											<th>Precio Cliente</th>
											<!-- 											<th style="width: 9%">Utilidad</th> -->
											<th>Subtotal</th>
											<th>IVA</th>
											<th>Facturar</th>
											<!-- 											<th>Autorizado <input style="width: auto;" -->
											<!-- 												type="checkbox" ng-model="gru.autoTodos" value="false" -->
											<!-- 												ng-click="seleccionarTodoAutorizado(gru)" /></th> -->
											<!-- 											<th style="width: 1%"></th> -->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pres in gru.presupuestos" ng-if="!pres.done">
											<!-- 											<td><select ng-model="pres.subtipo" -->
											<!-- 												ng-change="conceptoChg(pres,$index,gru)"> -->
											<!-- 													<option value="MO">Mano de Obra</option> -->
											<!-- 													<option value="RE">Refacciones</option> -->
											<!-- 													<option value="IN">Insumo</option> -->
											<!-- 													<option value="SE">Servicio</option> -->
											<!-- 											</select></td> -->
											<td><input type="text" style="width: 100%"
												ng-model="pres.concepto"
												ng-change="conceptoChg(pres,$index,gru)" /></td>
											<td><input type="text" ng-model="pres.cantidad" min="0" /></td>
											<!-- 											<td>$<input type="text" step="0.01" -->
											<!-- 												ng-model="pres.precioUnitario.value" /></td> -->
											<!-- 											<td><input type="checkbox" -->
											<!-- 												ng-model="pres.precioUnitarioConIVA" -->
											<!-- 												ng-click="pres.precioUnitario.value=calcularPUI(pres)" /></td> -->
											<!-- 											<td><label disabled ng-show="pres.precioUnitarioConIVA">{{'$'+currency(pres.precioUnitario.value*0.16,2, -->
											<!-- 													[',', "'", '.'])}}</label></td> -->
											<td><input type="text" step="0.01"
												ng-model="pres.precioCliente.value" /></td>
											<!-- 											<td><label>{{'$'+utilidad1(pres)}} / {{ -->
											<!-- 													utilidad(pres)+'%'}}</label></td> -->
											<td><label>{{'$'+currency(pres.precioCliente.value*pres.cantidad,2,
													[',', "'", '.'])}}</label></td>
											<td><label>{{'$'+currency(pres.precioCliente.value*pres.cantidad*0.16,2,
													[',', "'", '.'])}}</label></td>
											<td><input type="checkbox"
												ng-checked="exists(pres, conceptosFact)"
												ng-click="toggle(pres, conceptosFact)" /></td>
											<!-- 											<td><input type="checkbox" ng-model="pres.autorizado" /></td> -->
											<!-- 											<td><button class="btn btn-small" -->
											<!-- 													ng-click="borraPresupuesto(gru,$index)"> -->
											<!-- 													<i class="fa fa-times" aria-hidden="true"></i> -->
											<!-- 												</button></td> 								<td><input type="select" ng-model="pres.tipo"/></td> -->

										</tr>
										<tr>
											<td>Total</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>{{'$'+ currency(totalFactura,2,',',"'",'.')}}</td>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row" ng-show="facturarPago">
							<div class="col-md-6">
								Nombre o Raz&oacute;n Social: <input class="form-control"
									ng-model="newCliente.nombre" type="text" ng-required="true"><br>
							</div>
							<div class="col-md-6">
								RFC: <input class="form-control" ng-model="newCliente.rfc"
									type="text" ng-required="true" pattern="{{expresionReg}}"><br>
							</div>
							<!--    	   ^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([A-Z\d]{3})?$ -->
							<div class="col-md-6">
								Calle: <input class="form-control"
									ng-model="newCliente.domicilio.calle" type="text"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9.\s]*"><br>
							</div>

							<div class="col-md-6">
								N&uacute;mero Interior: <input class="form-control"
									ng-model="newCliente.domicilio.noInterior" type="text"><br>
							</div>
							<div class="col-md-6">
								N&uacute;mero Exterior: <input class="form-control"
									ng-model="newCliente.domicilio.noExterior" type="text"><br>
							</div>
							<div class="col-md-6">
								Colonia: <input class="form-control"
									ng-model="newCliente.domicilio.colonia" type="text"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9.\s]*"><br>
							</div>
							<div class="col-md-6">
								Localidad: <input class="form-control"
									ng-model="newCliente.domicilio.localidad" type="text"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9.\s]*"><br>
							</div>
							<div class="col-md-6">
								Referencia: <input class="form-control"
									ng-model="newCliente.domicilio.referencia" type="text"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9.\s]*"><br>
							</div>
							<!--        <div class="col-md-6"> -->
							<!--      	 Pa&iacute;s: <input class="form-control" -->
							<!--        	 ng-model="newCliente.pais" ng-change="pais(newCliente)" type="text"><br> -->
							<!--        </div>  -->
							<div class="col-md-6">
								Pa&iacute;s: <select name="pais"
									ng-model="newCliente.domicilio.pais"
									ng-change="pais(newCliente)" class="form-control"
									ng-required="true">
									<option value="AF">Afganist&aacute;n</option>
									<option value="AL">Albania</option>
									<option value="DE">Alemania</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Ant&aacute;rtida</option>
									<option value="AG">Antigua y Barbuda</option>
									<option value="AN">Antillas Holandesas</option>
									<option value="SA">Arabia Saud&iacute;</option>
									<option value="DZ">Argelia</option>
									<option value="AR">Argentina</option>
									<option value="AM">Armenia</option>
									<option value="AW">Aruba</option>
									<option value="AU">Australia</option>
									<option value="AT">Austria</option>
									<option value="AZ">Azerbaiy&aacute;n</option>
									<option value="BS">Bahamas</option>
									<option value="BH">Bahrein</option>
									<option value="BD">Bangladesh</option>
									<option value="BB">Barbados</option>
									<option value="BE">B&eacute;lgica</option>
									<option value="BZ">Belice</option>
									<option value="BJ">Benin</option>
									<option value="BM">Bermudas</option>
									<option value="BY">Bielorrusia</option>
									<option value="MM">Birmania</option>
									<option value="BO">Bolivia</option>
									<option value="BA">Bosnia y Herzegovina</option>
									<option value="BW">Botswana</option>
									<option value="BR">Brasil</option>
									<option value="BN">Brunei</option>
									<option value="BG">Bulgaria</option>
									<option value="BF">Burkina Faso</option>
									<option value="BI">Burundi</option>
									<option value="BT">But&aacute;n</option>
									<option value="CV">Cabo Verde</option>
									<option value="KH">Camboya</option>
									<option value="CM">Camer&uacute;n</option>
									<option value="CA">Canad&aacute;</option>
									<option value="TD">Chad</option>
									<option value="CL">Chile</option>
									<option value="CN">China</option>
									<option value="CY">Chipre</option>
									<option value="VA">Ciudad del Vaticano (Santa Sede)</option>
									<option value="CO">Colombia</option>
									<option value="KM">Comores</option>
									<option value="CG">Congo</option>
									<option value="CD">Congo, Rep&uacute;blica
										Democr&aacute;tica del</option>
									<option value="KR">Corea</option>
									<option value="KP">Corea del Norte</option>
									<option value="CI">Costa de Marf&iacute;l</option>
									<option value="CR">Costa Rica</option>
									<option value="HR">Croacia (Hrvatska)</option>
									<option value="CU">Cuba</option>
									<option value="DK">Dinamarca</option>
									<option value="DJ">Djibouti</option>
									<option value="DM">Dominica</option>
									<option value="EC">Ecuador</option>
									<option value="EG">Egipto</option>
									<option value="SV">El Salvador</option>
									<option value="AE">Emiratos &Aacute;rabes Unidos</option>
									<option value="ER">Eritrea</option>
									<option value="SI">Eslovenia</option>
									<option value="ES">Espa&ntilde;a</option>
									<option value="US">Estados Unidos</option>
									<option value="EE">Estonia</option>
									<option value="ET">Etiop&iacute;a</option>
									<option value="FJ">Fiji</option>
									<option value="PH">Filipinas</option>
									<option value="FI">Finlandia</option>
									<option value="FR">Francia</option>
									<option value="GA">Gab&oacute;n</option>
									<option value="GM">Gambia</option>
									<option value="GE">Georgia</option>
									<option value="GH">Ghana</option>
									<option value="GI">Gibraltar</option>
									<option value="GD">Granada</option>
									<option value="GR">Grecia</option>
									<option value="GL">Groenlandia</option>
									<option value="GP">Guadalupe</option>
									<option value="GU">Guam</option>
									<option value="GT">Guatemala</option>
									<option value="GY">Guayana</option>
									<option value="GF">Guayana Francesa</option>
									<option value="GN">Guinea</option>
									<option value="GQ">Guinea Ecuatorial</option>
									<option value="GW">Guinea-Bissau</option>
									<option value="HT">Hait&iacute;</option>
									<option value="HN">Honduras</option>
									<option value="HU">Hungr&iacute;a</option>
									<option value="IN">India</option>
									<option value="ID">Indonesia</option>
									<option value="IQ">Irak</option>
									<option value="IR">Ir&aacute;n</option>
									<option value="IE">Irlanda</option>
									<option value="BV">Isla Bouvet</option>
									<option value="CX">Isla de Christmas</option>
									<option value="IS">Islandia</option>
									<option value="KY">Islas Caim&aacute;n</option>
									<option value="CK">Islas Cook</option>
									<option value="CC">Islas de Cocos o Keeling</option>
									<option value="FO">Islas Faroe</option>
									<option value="HM">Islas Heard y McDonald</option>
									<option value="FK">Islas Malvinas</option>
									<option value="MP">Islas Marianas del Norte</option>
									<option value="MH">Islas Marshall</option>
									<option value="UM">Islas menores de Estados Unidos</option>
									<option value="PW">Islas Palau</option>
									<option value="SB">Islas Salom&oacute;n</option>
									<option value="SJ">Islas Svalbard y Jan Mayen</option>
									<option value="TK">Islas Tokelau</option>
									<option value="TC">Islas Turks y Caicos</option>
									<option value="VI">Islas V&iacute;rgenes (EEUU)</option>
									<option value="VG">Islas V&iacute;rgenes (Reino Unido)</option>
									<option value="WF">Islas Wallis y Futuna</option>
									<option value="IL">Israel</option>
									<option value="IT">Italia</option>
									<option value="JM">Jamaica</option>
									<option value="JP">Jap&oacute;n</option>
									<option value="JO">Jordania</option>
									<option value="KZ">Kazajist&aacute;n</option>
									<option value="KE">Kenia</option>
									<option value="KG">Kirguizist&aacute;n</option>
									<option value="KI">Kiribati</option>
									<option value="KW">Kuwait</option>
									<option value="LA">Laos</option>
									<option value="LS">Lesotho</option>
									<option value="LV">Letonia</option>
									<option value="LB">L&iacute;bano</option>
									<option value="LR">Liberia</option>
									<option value="LY">Libia</option>
									<option value="LI">Liechtenstein</option>
									<option value="LT">Lituania</option>
									<option value="LU">Luxemburgo</option>
									<option value="MK">Macedonia, Ex-Rep&uacute;blica
										Yugoslava de</option>
									<option value="MG">Madagascar</option>
									<option value="MY">Malasia</option>
									<option value="MW">Malawi</option>
									<option value="MV">Maldivas</option>
									<option value="ML">Mal&iacute;</option>
									<option value="MT">Malta</option>
									<option value="MA">Marruecos</option>
									<option value="MQ">Martinica</option>
									<option value="MU">Mauricio</option>
									<option value="MR">Mauritania</option>
									<option value="YT">Mayotte</option>
									<option value="MX" selected>M&eacute;xico</option>
									<option value="FM">Micronesia</option>
									<option value="MD">Moldavia</option>
									<option value="MC">M&oacute;naco</option>
									<option value="MN">Mongolia</option>
									<option value="MS">Montserrat</option>
									<option value="MZ">Mozambique</option>
									<option value="NA">Namibia</option>
									<option value="NR">Nauru</option>
									<option value="NP">Nepal</option>
									<option value="NI">Nicaragua</option>
									<option value="NE">N&iacute;ger</option>
									<option value="NG">Nigeria</option>
									<option value="NU">Niue</option>
									<option value="NF">Norfolk</option>
									<option value="NO">Noruega</option>
									<option value="NC">Nueva Caledonia</option>
									<option value="NZ">Nueva Zelanda</option>
									<option value="OM">Om&aacute;n</option>
									<option value="NL">Pa&iacute;ses Bajos</option>
									<option value="PA">Panam&aacute;</option>
									<option value="PG">Pap&uacute;a Nueva Guinea</option>
									<option value="PK">Paquist&aacute;n</option>
									<option value="PY">Paraguay</option>
									<option value="PE">Per&uacute;</option>
									<option value="PN">Pitcairn</option>
									<option value="PF">Polinesia Francesa</option>
									<option value="PL">Polonia</option>
									<option value="PT">Portugal</option>
									<option value="PR">Puerto Rico</option>
									<option value="QA">Qatar</option>
									<option value="UK">Reino Unido</option>
									<option value="CF">Rep&uacute;blica Centroafricana</option>
									<option value="CZ">Rep&uacute;blica Checa</option>
									<option value="ZA">Rep&uacute;blica de Sudáfrica</option>
									<option value="DO">Rep&uacute;blica Dominicana</option>
									<option value="SK">Rep&uacute;blica Eslovaca</option>
									<option value="RE">Reuni&oacute;n</option>
									<option value="RW">Ruanda</option>
									<option value="RO">Rumania</option>
									<option value="RU">Rusia</option>
									<option value="EH">Sahara Occidental</option>
									<option value="KN">Saint Kitts y Nevis</option>
									<option value="WS">Samoa</option>
									<option value="AS">Samoa Americana</option>
									<option value="SM">San Marino</option>
									<option value="VC">San Vicente y Granadinas</option>
									<option value="SH">Santa Helena</option>
									<option value="LC">Santa Luc&iacute;a</option>
									<option value="ST">Santo Tom&eacute; y Pr&iacute;ncipe</option>
									<option value="SN">Senegal</option>
									<option value="SC">Seychelles</option>
									<option value="SL">Sierra Leona</option>
									<option value="SG">Singapur</option>
									<option value="SY">Siria</option>
									<option value="SO">Somalia</option>
									<option value="LK">Sri Lanka</option>
									<option value="PM">St Pierre y Miquelon</option>
									<option value="SZ">Suazilandia</option>
									<option value="SD">Sud&aacute;n</option>
									<option value="SE">Suecia</option>
									<option value="CH">Suiza</option>
									<option value="SR">Surinam</option>
									<option value="TH">Tailandia</option>
									<option value="TW">Taiw&aacute;n</option>
									<option value="TZ">Tanzania</option>
									<option value="TJ">Tayikist&aacute;n</option>
									<option value="TF">Territorios franceses del Sur</option>
									<option value="TP">Timor Oriental</option>
									<option value="TG">Togo</option>
									<option value="TO">Tonga</option>
									<option value="TT">Trinidad y Tobago</option>
									<option value="TN">T&uacute;nez</option>
									<option value="TM">Turkmenist&aacute;n</option>
									<option value="TR">Turqu&iacute;a</option>
									<option value="TV">Tuvalu</option>
									<option value="UA">Ucrania</option>
									<option value="UG">Uganda</option>
									<option value="UY">Uruguay</option>
									<option value="UZ">Uzbekist&aacute;n</option>
									<option value="VU">Vanuatu</option>
									<option value="VE">Venezuela</option>
									<option value="VN">Vietnam</option>
									<option value="YE">Yemen</option>
									<option value="YU">Yugoslavia</option>
									<option value="ZM">Zambia</option>
									<option value="ZW">Zimbabue</option>
								</select><br>
							</div>
							<div class="col-md-6" ng-hide="Estado">
								Estado: <select class="form-control" ng-change="getMunicipios()"
									ng-model="newCliente.domicilio.estado">
									<option>Aguascalientes</option>
									<option>Baja California</option>
									<option>Baja California Sur</option>
									<option>Campeche</option>
									<option>Coahuila</option>
									<option>Colima</option>
									<option>Chiapas</option>
									<option>Chihuahua</option>
									<option>Ciudad de M&eacute;xico</option>
									<option>Durango</option>
									<option>Guanajuato</option>
									<option>Guerrero</option>
									<option>Hidalgo</option>
									<option>Jalisco</option>
									<option>M&eacute;xico</option>
									<option>Michoac&aacute;n</option>
									<option>Morelos</option>
									<option>Nayarit</option>
									<option>Nuevo Le&oacute;n</option>
									<option>Oaxaca</option>
									<option>Puebla</option>
									<option>Quer&eacute;taro</option>
									<option>Quintana Roo</option>
									<option>San Luis Potos&iacute;</option>
									<option>Sinaloa</option>
									<option>Sonora</option>
									<option>Tabasco</option>
									<option>Tamaulipas</option>
									<option>Tlaxcala</option>
									<option>Veracruz</option>
									<option>Yucatan</option>
									<option>Zacatecas</option>
								</select><br>
							</div>
							<div class="col-md-6" ng-hide="Estado">
								Delegaci&oacute;n/Municipio: <input type="text"
									class="form-control" ng-model="newCliente.domicilio.municipio" /><br>
							</div>
							<div class="col-md-6">
								C&oacute;digo Postal: <input class="form-control"
									ng-model="newCliente.domicilio.codigoPostal" type="text"
									pattern="[0-9\s]{5}"><br>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					style="vertical-align: -webkit-baseline-middle;">Cerrar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="guardarPago()">Guardar</button>
			</div>
		</div>
	</div>
</div>