<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
	<meta charset="UTF-8">
	<title>Tikal</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="controller.js"></script>

</head>
<body ng-controller="SeguroController">
	<header>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-togle="collapse" data-target="#navegacion-fm">
						<span class="sr-only">Desplegar /Ocultar Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">Tikal</a>
				</div>
				<!--Inicia Menu-->
				<div class="collapse navbar-collapse" id="navegacion-fm">
					<ul class="nav navbar-nav">
						<li class="active"><a href="login.html">Inicio</a></li>						
						<li><a href="contacto.html">Contacto</a></li>
						<li><a href="ayuda.html">Ayuda</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!--Aqui va-->
	<section class="jumbotron">
		<div class="container"></div>
		<h2>Registra Regímenes de la Empresa</h2>
		<p>TikalCacao</p>
	</section>	
	<div class="container">
		<form>
			<div class="col-md-6">
				<h3>Percepciones</h3>
				<label>Clave</label>
				<select ng-model="regimen.percepciones[0].tipo">
					<option ng-repeat="percepciones in list percecpciones" value="{{percepciones.clave}}"></option>
					{{percepciones.clave}}</option>
				</select>
				<label>Descripcion</label>
				<select ng-model="regimen.percepciones[0].tipo">
					<option ng-repeat="percepciones in list percecpciones" value="{{percepciones.clave}}"></option>
					{{percepciones.descripcion}}</option>
				</select>
			</div>
			<div class="col-md-6">
				<h3>Deducciones</h3>
				<label>Clave</label>
				<select ng-model="regimen.percepciones[0].tipo">
					<option ng-repeat="percepciones in list percecpciones" value="{{percepciones.clave}}"></option>
					{{percepciones.clave}}</option>
				</select>
				<label>Descripcion</label>
				<select ng-model="regimen.percepciones[0].tipo">
					<option ng-repeat="percepciones in list percecpciones" value="{{percepciones.clave}}"></option>
					{{percepciones.descripcion}}</option>
				</select>
			</div>				
		</form>		
	</div>
	<div class="container col-md-offset-1">
		<br><button class="btn btn-primary" value="Guardar">Guardar</button>
		<button class="btn btn-primary">Limpiar</button>	
		<div class="miga-de-pan">
			<ol class="breadcrumb">
				<li><a href="empresas.html">Ir a Registrar Empresa</a></li>
				<li><a href="empleados.html">Ir a RegistrarEmpleados</a></li>
			</ol>
		</div>
	</div>
</body>
</html>