<!--Aqui va-->
<section class="jumbotron">
	<div class="container"></div>
	<h2>Registra Informacion de la Empresa</h2>
	<p>TikalCacao</p>
</section>

<div class="container">
<div class="row">
	<div class="miga-de-pan">
		<ol class="breadcrumb">
			<li><button class="btn btn-small btn-link" ng-click="irEmpleados()">Ir a Empleados</button></li>
			<li><a href="#/empresas/list">Regresar a Empresas</a></li>
		</ol>
	</div>
</div>
	<div class="row">
		<h4>Datos Generales</h4>
		<div class="col-md-6">Nombre de la Empresa: {{empresa.nombre}}</div>
		<div class="col-md-6">Raz&oacute;n Social:
			{{empresa.razonSocial}}</div>
			<div class="col-md-6">RFC: {{empresa.RFC}}</div>
		</div>
		<div class="row">
			<h4>Direcci&oacute;n</h4>
			<div class="col-md-12">Estado: {{empresa.direccion.estado}}</div>
			<div class="col-md-12">Localidad:
				{{empresa.direccion.localidad}}</div>
				<div class="col-md-6">
					CP:{{empresa.direccion.cp}} <br>
				</div>
				<div class="col-md-6">Colonia: {{empresa.direccion.colonia}}</div>
				<div class="col-md-6">Calle: {{empresa.direccion.calle}}</div>
				<div class="col-md-4">Numero: {{empresa.direccion.numero}}</div>
				<div class="col-md-4">
					Numero Interior: {{empresa.direccion.numeroint}}
				</div>
			</div>
			<div class="row">
				<h3>Reg&iacute;menes</h3>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Nombre</td>
							<td>Tipo</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="reg in empresa.regimenesVO">
							<td>{{reg.nombre}}</td>
							<td>{{reg.tipo}}</td>
							<td><button class="btn btn-small btn-primary"
								ng-click="verRegimen(reg.id)">
								<i class="glyphicon glyphicon-eye-open"></i>
							</button>
							<button class="btn btn-small btn-primary"
							ng-click="editarRegimen(reg.id)">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button class="btn btn-small btn-primary"
						ng-click="eliminarRegimen(reg.id)">
						<i class="glyphicon glyphicon-remove"></i>
					</button></td>
				</tr>
			</tbody>
		</table>
	</div ng-view>
	<div class="row">
		<button class="btn btn-primary" ng-click="addEsquema()">Agregar Esquema</button>
	</div>
</div>
