<!DOCTYPE html>
<html ng-app="app">

<body ng-controller="esquemasController">	
	<!--Aqui va-->
	<section class="jumbotron">
		<div class="container"></div>
		<h2>Registra Regímenes de la Empresa</h2>
		<p>TikalCacao</p>
	</section>	
	<div class="container">
		<form class="form-inline" ng-submit="addEsq()">
			<div class="form-group">
				Nombre del Regimen <input type="text">
				<h3>Percepciones</h3>				
				Clave<select ng-model="inputPerc.clave">
				<option ng-repeat="percepciones in listpercecpciones" value="{{percepciones.clave}}">
					{{percepciones.clave}}</option>
				</select>				
				Descripcion<select ng-model="inputPerc.clave">
				<option ng-repeat="percepciones in listpercecpciones" value="{{percepciones.clave}}">
					{{percepciones.descripcion}}</option>
				</select>
				Cantidad: <input type="text" ng-model="inputPerc.cantidad">
				<br><button ng-click="addPer()" class="btn btn-primary" value="Guardar">Agregar</button>			
			</div>
			{{esq}}
			<div class="form-group">
				<h3>Deducciones</h3>				
				Clave<select ng-model="inputDeduc.clave">
				<option ng-repeat="ded in listdeducciones" value="{{ded.clave}}">
					{{ded.clave}}</option>
				</select>					
				Descripcion<select ng-model="inputDeduc.clave">
				<option ng-repeat="ded in listdeducciones" value="{{ded.clave}}">
					{{ded.descripcion}}</option>
				</select>
				Porcentaje <input type="text" ng-model="inputDeduc.porcentaje">
				<br><button ng-click="addDed()" class="btn btn-primary" value="Guardar">Agregar</button>
			</div>				
		</form>				
	</div>
	<div class="container col-md-offset-1">

		<div class="">
			<h2>Percepciones</h2>			
			<table class="table">
				<thead>
					<tr>
						<th>Clave</th>
						<th>Descripcion</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="percept in regimen.percepciones">
						<td>{{percept.clave}}</td>
						<td>{{percept.descripcion}}</td>
						<td>{{percept.cantidad}}</td>
					</tr>
					
				</tbody>
			</table>
			<h2>Deducciones</h2>			
			<table class="table">
				<thead>
					<tr>
						<th>Clave</th>
						<th>Descripcion</th>
						<th>Pocentaje</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="deduc in regimen.deducciones">
						<td>{{deduc.clave}}</td>
						<td>{{deduc.descripcion}}</td>
						<td>{{deduc.porcentaje}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>

		<div class="miga-de-pan">
			<ol class="breadcrumb">
				<li><a href="empresas.html">Ir a Registrar Empresa</a></li>
				<li><a href="empleados.html">Ir a RegistrarEmpleados</a></li>
			</ol>
		</div>
	</div>
</body>
</html>